flows.json
[{"id":"e7baae2.56d095","type":"subflow","name":"Query All Transactions","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"71ce0ec8.ef64"}]}],"out":[{"x":760,"y":80,"wires":[{"id":"a368f566.0dc838","port":0}]}],"env":[]},{"id":"167bdcb7.61ce43","type":"postgres","z":"e7baae2.56d095","postgresdb":"fd4d7b54.54a038","name":"","output":true,"perrow":false,"outputs":1,"x":360,"y":80,"wires":[["a368f566.0dc838"]]},{"id":"71ce0ec8.ef64","type":"function","z":"e7baae2.56d095","name":"Init","func":"\nmsg.payload = `select fa.*,  c.accounttype as type\nfrom fact_acct fa\nleft join c_elementvalue c\non fa.account_id = c.c_elementvalue_id\nwhere fa.ad_client_id = ${msg.client_id} `\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["167bdcb7.61ce43"]]},{"id":"a368f566.0dc838","type":"function","z":"e7baae2.56d095","name":"Calculate","func":"\n\nmsg.rows = msg.payload;\nmsg.payload =  {};\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":80,"wires":[[]]},{"id":"5e5dba8b.2d07a4","type":"subflow","name":"Query","info":"","category":"","in":[{"x":180,"y":80,"wires":[{"id":"62efe14f.6a3a5"}]}],"out":[{"x":840,"y":120,"wires":[{"id":"12ce6d44.64ed63","port":0}]}],"env":[{"name":"input","type":"str","value":"payload"},{"name":"output","type":"str","value":"payload"}]},{"id":"c873917d.d6bae","type":"postgres","z":"5e5dba8b.2d07a4","postgresdb":"fd4d7b54.54a038","name":"idempiere","output":true,"perrow":false,"outputs":1,"x":460,"y":100,"wires":[["12ce6d44.64ed63"]]},{"id":"12ce6d44.64ed63","type":"function","z":"5e5dba8b.2d07a4","name":"set-output","func":"msg[env.get('output')] = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":100,"wires":[[]]},{"id":"62efe14f.6a3a5","type":"function","z":"5e5dba8b.2d07a4","name":"set-input","func":"msg.payload = msg[env.get('input')]\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["c873917d.d6bae"]]},{"id":"fd4d7b54.54a038","type":"postgresdb","z":"","hostname":"206.189.44.112","port":"5432","db":"idempiere","ssl":false},{"id":"21e8dbf9.9eb604","type":"subflow","name":"Query All COA","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"266b63ec.310f4c"}]}],"out":[{"x":1140,"y":80,"wires":[{"id":"8aec4b37.6e6d38","port":0}]}],"env":[]},{"id":"266b63ec.310f4c","type":"function","z":"21e8dbf9.9eb604","name":"Get Tree ID","func":"const cid = global.get('cid');\n\nmsg.tree = `\n    select ad_tree_id from ad_tree where ad_client_id = ${cid} and treetype = 'EV';\n`;\nmsg.client_id = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["876cb9dd.9f7768"]]},{"id":"876cb9dd.9f7768","type":"subflow:5e5dba8b.2d07a4","z":"21e8dbf9.9eb604","name":"Query TreeID","env":[{"name":"input","type":"str","value":"tree"},{"name":"output","type":"str","value":"tree"}],"x":380,"y":80,"wires":[["edfdbcab.ba45a"]]},{"id":"8aec4b37.6e6d38","type":"function","z":"21e8dbf9.9eb604","name":"rollup -> return","func":"msg.coa = msg.payload;\n\nconst coa = {};\n\nconst listChilds = (pid) => {\n    const childcoa = {};\n    msg.coa.filter((item) => item.pid == pid).map((item, idx) => {\n        childcoa[item.id] = {\n            key: item.key,\n            name: item.name, \n            type: item.type,\n            childs: listChilds(item.id)\n        }\n    });\n    return childcoa;\n}\n\nmsg.coa.filter((item) => item.pid == \"0\").map((item, idx) => {\n    coa[item.id] = {\n        key: item.key,\n        name: item.name, \n            type: item.type,\n        childs: listChilds(item.id)\n    }\n});\n\nmsg.coa = coa;\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":80,"wires":[[]]},{"id":"edfdbcab.ba45a","type":"function","z":"21e8dbf9.9eb604","name":"Get COA","func":"msg.coa = \"\"\nif (msg.tree && msg.tree.length > 0) {\n    let where = '';\n    \n    msg.tree.forEach((item, idx) => {\n        if (idx > 0) return\n        where += (where ? ` or ` : ``) + `ad_tree_id = ${item.ad_tree_id} `;\n    });\n    \n    msg.coa = `\n        select ev.c_elementvalue_id as id,\n        ev.accounttype as type,\n        ev.value as key,\n        ev.name, \n        parent_id as pid\n        \n        from ad_treenode tn\n        left join c_elementvalue ev on ev.c_elementvalue_id = tn.node_id\n        where ${where};\n    `;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":80,"wires":[["3d256da8.5ce6b2"]]},{"id":"3d256da8.5ce6b2","type":"subflow:5e5dba8b.2d07a4","z":"21e8dbf9.9eb604","name":"Query COA","env":[{"name":"input","type":"str","value":"coa"}],"x":750,"y":80,"wires":[["8aec4b37.6e6d38"]]},{"id":"5521d2c5.afed3c","type":"tab","label":"Main Flow","disabled":false,"info":""},{"id":"abf33ec.54954c","type":"http in","z":"5521d2c5.afed3c","name":"","url":"/get","method":"get","upload":false,"swaggerDoc":"","x":100,"y":380,"wires":[["f9831695.039e48"]]},{"id":"ca5e7a1f.ccab48","type":"http response","z":"5521d2c5.afed3c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":590,"y":380,"wires":[]},{"id":"8300ae39.69b0e","type":"inject","z":"5521d2c5.afed3c","name":"","topic":"Calculate COA | Client ID","payload":"cid","payloadType":"global","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["6ef43d66.8a9a64"]]},{"id":"6ef43d66.8a9a64","type":"subflow:21e8dbf9.9eb604","z":"5521d2c5.afed3c","name":"","env":[],"x":500,"y":140,"wires":[["e9b2ca94.788aa8"]]},{"id":"e9b2ca94.788aa8","type":"subflow:e7baae2.56d095","z":"5521d2c5.afed3c","name":"","env":[],"x":720,"y":140,"wires":[["46aba927.aa7c28"]]},{"id":"46aba927.aa7c28","type":"function","z":"5521d2c5.afed3c","name":"set global","func":"global.set('rows', msg.rows);\nglobal.set('coa', msg.coa);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":140,"wires":[[]]},{"id":"67a483d6.32b97c","type":"function","z":"5521d2c5.afed3c","name":"Get COA","func":"const allcoa = JSON.parse(JSON.stringify(global.get('coa')));\nconst rows = global.get('rows');\nconst qs = msg.req.query || {};\nconst org = qs.org;\nconst res = [];\n\nconst find = (id, coa) => {\n    if (coa[id]) return coa[id];\n    \n    if (msg.ids && msg.ids.indexOf(id) >= 0) {\n        res.push(coa[id]);\n    }\n    \n    for (let i in coa) {\n        let c = coa[i].childs;\n        \n        if (coa[i].debet === undefined) {\n            coa[i].id = i;\n            coa[i].debet= 0;\n            coa[i].kredit= 0;\n            coa[i].count = 0;\n        }\n        \n        if (Object.keys(c).length > 0) {\n            for (let ic in c) {\n                c[ic].parent= coa[i];\n            }\n        }\n        \n        \n        let f = find(id, c);\n        if (f) {\n            return f;\n        }\n    }\n    return false;\n}\n\nfor (let i in rows) {\n    let row = rows[i]; \n    \n    if (org) {\n        if (row.ad_org_id !== org) {\n            continue;\n        }\n    }\n     \n    let acct = find(row.account_id, allcoa);\n    \n    if (acct) {\n        if (acct.count === undefined) {\n            acct.id = row.account_id;\n            acct.debet= 0;\n            acct.kredit= 0;\n            acct.count = 0;\n        }\n        \n        acct.count += 1;\n        acct.debet += row.amtacctdr * 1 || 0;\n        acct.kredit += row.amtacctcr * 1 || 0;\n        \n        \n        while (acct.parent) {\n            acct = acct.parent;\n            \n            acct.count += 1;\n            acct.debet += row.amtacctdr* 1 || 0;\n            acct.kredit += row.amtacctcr * 1 || 0;\n        }\n        \n    }\n}\n\nif (msg.ids) {\n    msg.payload = res;\n} else {\n    msg.payload = JSON.parse(JSON.stringify(allcoa, function(key, value) {\n        if (key==='parent') return value.id;\n        return value;\n    }));\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":420,"wires":[["ca5e7a1f.ccab48"]]},{"id":"f9831695.039e48","type":"switch","z":"5521d2c5.afed3c","name":"","property":"rows","propertyType":"global","rules":[{"t":"eq","v":"undefined","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":380,"wires":[["ca5e7a1f.ccab48"],["67a483d6.32b97c"]]},{"id":"358e7ce0.90ff94","type":"http in","z":"5521d2c5.afed3c","name":"","url":"/org","method":"get","upload":false,"swaggerDoc":"","x":100,"y":480,"wires":[["dc3a0a3a.ba1f98"]]},{"id":"f27d6be6.c59d58","type":"subflow:5e5dba8b.2d07a4","z":"5521d2c5.afed3c","name":"","env":[],"x":430,"y":480,"wires":[["144d6e0f.389f22"]]},{"id":"dc3a0a3a.ba1f98","type":"function","z":"5521d2c5.afed3c","name":"query org","func":"msg.payload = `select * from ad_org_v`\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":480,"wires":[["f27d6be6.c59d58"]]},{"id":"bf9b0f44.470d8","type":"http response","z":"5521d2c5.afed3c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":750,"y":480,"wires":[]},{"id":"144d6e0f.389f22","type":"function","z":"5521d2c5.afed3c","name":"sort org","func":"let tree = [];\nconst cid = global.get('cid');\n\nconst map = (pid) => {\n    let res = [];\n    for (let i in msg.payload) {\n        const item = msg.payload[i];\n        if (item.ad_client_id * 1!== cid * 1) continue;\n        if (item.parent_org_id * 1 == pid * 1) {\n            const r = {\n                cid: item.ad_client_id,\n                name: item.name,\n                id: item.ad_org_id,\n                child: map(item.ad_org_id)\n            };\n            \n            res.push(r);\n        }\n    }\n    return res;\n}\n\n\ntree = map(null);\nmsg.payload = tree;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["bf9b0f44.470d8"]]},{"id":"9624e942.3d7e78","type":"http in","z":"5521d2c5.afed3c","name":"","url":"/trx","method":"get","upload":false,"swaggerDoc":"","x":100,"y":540,"wires":[["a716a236.de098"]]},{"id":"86659853.9e7078","type":"http response","z":"5521d2c5.afed3c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":750,"y":540,"wires":[]},{"id":"3a31f455.a6e88c","type":"function","z":"5521d2c5.afed3c","name":"Get All Trx For Single Account","func":"const allcoa = JSON.parse(JSON.stringify(global.get('coa')));\nconst rows = global.get('rows');\nconst qs = msg.req.query || {};\nconst id = qs.id;\nconst result = [];\n\n\nconst find = (id, coa) => {\n    if (coa[id]) return coa[id];\n    \n    for (let i in coa) {\n        let c = coa[i].childs;\n        \n        if (coa[i].debet === undefined) {\n            coa[i].id = i;\n            coa[i].debet= 0;\n            coa[i].kredit= 0;\n            coa[i].count = 0;\n        }\n        \n        if (Object.keys(c).length > 0) {\n            for (let ic in c) {\n                c[ic].parent= coa[i];\n            }\n        }\n        \n        \n        let f = find(id, c);\n        if (f) {\n            return f;\n        }\n    }\n    return false;\n}\n\nfor (let i in rows) {\n    let row = rows[i]; \n    let acct = find(row.account_id, allcoa);\n    let found = false;\n    while (acct.parent) {\n        acct = acct.parent;\n        if (acct.id === id) {\n            found = true;\n        }\n    }\n    \n    if (found || row.account_id === id) {\n        result.push({\n            id: row.account_id,\n            desc: row.description,\n            date: row.updated,\n            docno: row.documentno,\n            kredit: row.amtacctcr,\n            debet: row.amtacctdr\n        });\n    }\n}\n\nmsg.payload = result;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":470,"y":580,"wires":[["86659853.9e7078"]]},{"id":"a716a236.de098","type":"switch","z":"5521d2c5.afed3c","name":"","property":"rows","propertyType":"global","rules":[{"t":"eq","v":"undefined","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":540,"wires":[["86659853.9e7078"],["3a31f455.a6e88c"]]},{"id":"187edf26.9af8a1","type":"http in","z":"5521d2c5.afed3c","name":"","url":"/refresh","method":"get","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["6ef43d66.8a9a64","ccff3bbe.b2e9d8"]]},{"id":"ccff3bbe.b2e9d8","type":"http response","z":"5521d2c5.afed3c","name":"","statusCode":"","headers":{},"x":470,"y":180,"wires":[]},{"id":"647546f0.bf3658","type":"http in","z":"5521d2c5.afed3c","name":"","url":"/ar","method":"get","upload":false,"swaggerDoc":"","x":90,"y":640,"wires":[["d151c3d3.88b19"]]},{"id":"5c8998e8.1ae828","type":"subflow:5e5dba8b.2d07a4","z":"5521d2c5.afed3c","name":"","env":[],"x":410,"y":640,"wires":[["6e23e7c8.89d068"]]},{"id":"d151c3d3.88b19","type":"function","z":"5521d2c5.afed3c","name":"query","func":"const cid = global.get('cid');\n\nconst qs = msg.req.query || {};\nconst org = qs.org;\n\nlet orgsql = org ? `AND oi.AD_Org_ID = ${org}` : ``;\nlet time = ``;\n\nmsg.payload = `SELECT bp.name, c.cursymbol, sum(oi.OpenAmt)\nFROM RV_OpenItem oi \nINNER JOIN C_BPartner bp ON (oi.C_BPartner_ID=bp.C_BPartner_ID) \nINNER JOIN C_Currency c ON (oi.c_currency_id=c.c_currency_id)\nWHERE oi.ISSoTrx='Y' AND oi.AD_Client_ID = ${cid} ${orgsql}\nGROUP BY bp.name, c.cursymbol`\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":640,"wires":[["5c8998e8.1ae828"]]},{"id":"6e23e7c8.89d068","type":"http response","z":"5521d2c5.afed3c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":550,"y":640,"wires":[]},{"id":"ec7e243b.4f2ec8","type":"http in","z":"5521d2c5.afed3c","name":"","url":"/ap","method":"get","upload":false,"swaggerDoc":"","x":100,"y":700,"wires":[["7fbb8544.c9e46c"]]},{"id":"31e10048.9bcb8","type":"subflow:5e5dba8b.2d07a4","z":"5521d2c5.afed3c","name":"","env":[],"x":410,"y":700,"wires":[["f990c76f.9b39e8"]]},{"id":"7fbb8544.c9e46c","type":"function","z":"5521d2c5.afed3c","name":"query","func":"const cid = global.get('cid');\n\nconst qs = msg.req.query || {};\nconst org = qs.org;\n\nlet orgsql = org ? `AND oi.AD_Org_ID = ${org}` : ``;\nlet time = ``;\n\nmsg.payload = `SELECT bp.name, c.cursymbol, sum(oi.OpenAmt)\nFROM RV_OpenItem oi \nINNER JOIN C_BPartner bp ON (oi.C_BPartner_ID=bp.C_BPartner_ID) \nINNER JOIN C_Currency c ON (oi.c_currency_id=c.c_currency_id)\nWHERE oi.ISSoTrx='N' AND oi.AD_Client_ID = ${cid} ${orgsql}\nGROUP BY bp.name, c.cursymbol`\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":700,"wires":[["31e10048.9bcb8"]]},{"id":"f990c76f.9b39e8","type":"http response","z":"5521d2c5.afed3c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":550,"y":700,"wires":[]},{"id":"791cc7ae.8b9e38","type":"inject","z":"5521d2c5.afed3c","name":"","topic":"setup","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["37ce9734.b6b018"]]},{"id":"37ce9734.b6b018","type":"function","z":"5521d2c5.afed3c","name":"setup","func":"global.set('cid', 30006);\nglobal.set('cboh', [30621, 30626])\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[[]]},{"id":"a0196763.8f4388","type":"http in","z":"5521d2c5.afed3c","name":"","url":"/cboh-id","method":"get","upload":false,"swaggerDoc":"","x":110,"y":780,"wires":[["5a55462b.698828"]]},{"id":"5a55462b.698828","type":"function","z":"5521d2c5.afed3c","name":"setup","func":"msg.payload = global.get('cboh')\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":780,"wires":[["95e32be6.5832a8"]]},{"id":"95e32be6.5832a8","type":"http response","z":"5521d2c5.afed3c","name":"","statusCode":"","headers":{},"x":460,"y":780,"wires":[]},{"id":"c5f08c71.0f4de","type":"http in","z":"5521d2c5.afed3c","name":"","url":"/client","method":"get","upload":false,"swaggerDoc":"","x":100,"y":300,"wires":[["e416a3cf.5489c"]]},{"id":"c67a7e7c.0e83f","type":"subflow:5e5dba8b.2d07a4","z":"5521d2c5.afed3c","name":"","env":[],"x":430,"y":300,"wires":[["b6c8d929.916248"]]},{"id":"e416a3cf.5489c","type":"function","z":"5521d2c5.afed3c","name":"query","func":"const cid = global.get('cid');\n\n\nmsg.payload = `select * from ad_client  where ad_client_id = ${cid}`\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":300,"wires":[["c67a7e7c.0e83f"]]},{"id":"b6c8d929.916248","type":"http response","z":"5521d2c5.afed3c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":570,"y":300,"wires":[]},{"id":"653217cc.89a418","type":"http in","z":"5521d2c5.afed3c","name":"","url":"/is","method":"get","upload":false,"swaggerDoc":"","x":90,"y":860,"wires":[["d9abb610.565028"]]},{"id":"17371061.02a8e","type":"http response","z":"5521d2c5.afed3c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":690,"y":860,"wires":[]},{"id":"c68b3369.55905","type":"function","z":"5521d2c5.afed3c","name":"Get Income Statement","func":"const allcoa = JSON.parse(JSON.stringify(global.get('coa')));\nconst rows = global.get('rows');\nconst qs = msg.req.query || {};\nconst tp = qs.type;\nconst org = qs.org;\nconst result = [];\nconst year = (new Date()).getYear();\n\nconst month = {};\n\nfor (let i in rows) {\n    let row = rows[i]; \n    \n    if (org && row.ad_org_id * 1 !== org  * 1) {\n        continue;\n    }\n    \n    if (typeof row.dateacct === 'object') {\n        if (row.dateacct.getYear() !== year) {\n            continue;\n        }\n        \n        if (row.type === tp) {\n            const m = row.dateacct.getMonth()\n            if (!month[m]) {\n                month[m] = {\n                    total: 0\n                }\n            }\n            \n            month[m].total += row.amtacctdr - row.amtacctcr; \n        }\n    }\n     \n}\n\nmsg.payload = month;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":900,"wires":[["17371061.02a8e"]]},{"id":"d9abb610.565028","type":"switch","z":"5521d2c5.afed3c","name":"","property":"rows","propertyType":"global","rules":[{"t":"eq","v":"undefined","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":860,"wires":[["17371061.02a8e"],["c68b3369.55905"]]},{"id":"fb98d2c0.04edc","type":"http response","z":"5521d2c5.afed3c","name":"","statusCode":"","headers":{},"x":1330,"y":260,"wires":[]},{"id":"c19250f7.38218","type":"http in","z":"5521d2c5.afed3c","name":"","url":"/navigasi-vote","method":"get","upload":false,"swaggerDoc":"","x":1000,"y":260,"wires":[["fb98d2c0.04edc","7f7b8261.d91fbc"]]},{"id":"7f7b8261.d91fbc","type":"function","z":"5521d2c5.afed3c","name":"script","func":"const p = msg.payload;\n\n\nmsg.payload = `INSERT INTO \n\"vote\" (\"tstamp\", \"loc\", \"vote\")\nVALUES ('now()', '${p.l}','${p.v}')`\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":320,"wires":[["a7a4c0d0.751e3"]]},{"id":"a7a4c0d0.751e3","type":"postgres","z":"5521d2c5.afed3c","postgresdb":"f738c4f9.d18c68","name":"insert","output":false,"perrow":true,"outputs":0,"x":1330,"y":320,"wires":[]},{"id":"6fc1f89a.038b58","type":"http response","z":"5521d2c5.afed3c","name":"","statusCode":"","headers":{},"x":1410,"y":420,"wires":[]},{"id":"7cd8cc43.80ec24","type":"http in","z":"5521d2c5.afed3c","name":"","url":"/navigasi-chart","method":"get","upload":false,"swaggerDoc":"","x":1000,"y":420,"wires":[["1e37321b.3de76e"]]},{"id":"1e37321b.3de76e","type":"function","z":"5521d2c5.afed3c","name":"script","func":"const p = msg.payload;\n\n\nmsg.payload = `\nSELECT \ndate_trunc('month', tstamp) AS mth, \ncount(vote) count, \nvote   FROM vote\n GROUP BY vote, mth`\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":480,"wires":[["5978ce77.d489e"]]},{"id":"5978ce77.d489e","type":"postgres","z":"5521d2c5.afed3c","postgresdb":"f738c4f9.d18c68","name":"query","output":true,"perrow":false,"outputs":1,"x":1290,"y":480,"wires":[["6fc1f89a.038b58"]]},{"id":"f738c4f9.d18c68","type":"postgresdb","z":"","hostname":"p.plansys.co","port":"5432","db":"navigasi","ssl":false}]